JWT_SECRET_KEY=change-me
API_USERNAME=admin
API_PASSWORD=admin

POSTGRES_USER=ansibleroller
POSTGRES_PASSWORD=change-me
POSTGRES_DB=ansibleroller
POSTGRES_HOST=db
POSTGRES_PORT=5432

TARGET_USER=ansible
TARGET_PASSWORD=change-me

ENCRYPTION_KEY=replace-with-generated-key